PROJECT_NAME=PROJECT_NAME
POSTGRES_DB=data
POSTGRES_USER=pguser
POSTGRES_PASSWORD=pgpswd
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
NGINX_EXTERNAL_PORT=80
APP_HOST=app_network
TG_HELPER_BOT_TOKEN=1234567890:ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz1234
TG_ERROR_CHAT_ID=chat_id_to_send_errors
TG_DB_DUMP_CHAT_ID=0
TG_LOG_SEND_CHAT_ID=chat_id_to_send_logs
JWT_SECRET=secret
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0
ENV=development
CELERY_USER=celery_user
CELERY_PASSWORD=celery_password
